<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Se7ati{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% block extra_head %}{% endblock %}
  </head>
  <body class="bg-gray-100">
    <div class="flex min-h-screen">
      {% include 'includes/navbar.html' %}
      <div class="w-64 fixed h-full">{% include 'includes/sidebar.html' %}</div>
      <div class="flex-1 ml-64 mt-16">
        <div class="p-4">{% block content %}{% endblock %}</div>
      </div>
    </div>
    {% block extra_js %}{% endblock %}
  </body>
</html>
